<template name="categories">
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Vicinity</th>
            <th>buttons</th>
          </tr>
          {{#each place2}}
          <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{vicinity}}</td>
            <td><a href="/p/{{_id}}" class="btn btn-tiny btn-default">View</a><button class="btn btn-default delete_project">Rate</button></td>
          </tr>
          {{else}}
          <tr>
            <td>There are no place found</td>
          </tr>
          {{/each}}
        </table>
</template>
